* {
    /* border: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

html {
    font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1024 - 200)));
    background-image: url(img/cool-background.png);
    background-size: cover;
 }


.main {
    height: 79vh;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 11vh;
    align-items: center;
    
}

.tituloBio {
    text-align: center;
    font-size: 2.2rem;
    
}

.parrafoBio {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    width: 82%;
    font-size: 1.3em;

}

.subPaginas {
    display: flex;
    justify-content: space-evenly;
    margin: 3vh;
    text-align: center;
}

.linksSubPaginas{
    border: 2px solid black;
    padding: 2%;
    font-family: monospace;
    font-size: 1.4rem;
    color:black;
}

.linksSubPaginas:hover{
    background-color: rgb(206, 175, 119);
    transition: all 0.5s;
}

/* FOOTER */

.pie {
    height: 12vh;
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
}

.descripcionFooter {
    margin: 0;
    padding: 2vh;
}


.descripcionFooter div{
    text-align: center;
    margin:0;
    text-align: center;
    font-family: monospace;

}


/* RESPONSIVE IPAD */

@media (min-width: 768px) {
    .main {
        height: 75vh;
        margin-top: 20vh;
  }

    .parrafoBio {
        font-size: 1.5rem;
    }

    .pie {
        height: 12vh;
    }

    .descripcionFooter {
        font-size: 1.3rem;
    }
}

/* RESPONSIVE DESKTOP */

@media (min-width: 1024px) {
    .main {
        height: 76vh;
    }
    
    .bio {
        margin-top: 7vh;
    }
    
    .tituloBio {
        font-size: 1.8rem;
        
    }
    
    .parrafoBio {
        font-size: .8rem;
    }

    .subPaginas {
        margin: 3vh;
    }

    .linksSubPaginas{
        padding: 2%;
        font-size: 0.7rem;
        width: 18%;
        }


/* FOOTER RESPONSIVE DESKTOP */

    .pie {
        display: flex;
        border-top: 1px solid black;
        align-items: center;
        justify-content: center;
        height: 16vh;
        }

    .descripcionFooter {
        margin: 1vh;
        padding: 3vh;
        }


    .descripcionFooter div{
        text-align: center;
        font-family: monospace;
        font-size: 0.7rem;
        }

}
